body {
  background-image: url("../img/backgroundtransparent.jpg");
  background-size: auto;
  background-position: 50% 7%;
  background-repeat: no-repeat;
  background-opacity: 0.1;
  color: black;
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
